<!-- start page title -->
<app-pagetitle title="Carga tus documentos y hazme una pregunta" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="d-lg-flex">
  <div class="chat-leftsidebar card">
    <div class="chat-leftsidebar-nav">
        <ul ngbNav #transactions="ngbNav" [activeId]="1" class="nav nav-pills nav-justified bg-soft-light p-1">
            <li [ngbNavItem]="1" class="nav-item">
                  <button type="button" class="btn btn-primary w-100 waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#composemodal" (click)="newChat()">
                    Nuevo Chat
                </button>
                <ng-template ngbNavContent>
                    <ngx-simplebar class="chat-message-list">
                      <ul ngbNav #transactions="ngbNav" [activeId]="1" class="nav nav-pills nav-justified bg-light-subtle p-1">
                        <li [ngbNavItem]="1" class="nav-item">
                          <i class="mdi mdi-email-outline me-2"></i><strong> Chats <span class="ms-1 float-end">({{totalChats}})</span></strong>
                        </li>
                      </ul>
                        <ul class="list-unstyled chat-list">
                            <li class="" *ngFor="let data of chatData" [ngClass]="{'active': data['id'] == idConversation}">
                                <a href="javascript: void(0);" (click)="selectConversation(data['id'])">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="text-truncate font-size-14 mb-1">Conversación {{data['document_id']}}</h5>
                                            <div class="font-size-11">{{ data['created_at'] | date:'dd/MM/yyyy HH:mm' }}</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </ngx-simplebar>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="transactions" class="mt-2"></div>
    </div>

</div>
<!-- end chat-leftsidebar -->


    <div class="w-100 user-chat mt-4 mt-sm-0 ms-lg-1">
        <div class="card">
            <ngx-simplebar class="chat-conversation p-3 px-2">
                <!--Spinner-->
                <div *ngIf="isLoading" class="overlay">
                  <div class="spinner-container">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Cargando...</span>
                    </div>
                  </div>
                </div>


                <ul class="list-unstyled mb-0">
                    <li class="chat-day-title">
                        <span class="title">Hoy</span>
                    </li>
                    @for (data of chatMessagesData; track $index) {
                    <li [ngClass]="{'right': data.align === 'right' }">
                        <div class="conversation-list" [ngClass]="{'order-3': data.align === 'right' }">
                            <div class="ctext-wrap">
                                <div class="ctext-wrap-content">
                                    <h5 class="conversation-name"><a href="javascript:void(0)" class="user-name">{{data.name}}</a>


                                        <span class="time" *ngIf="isValidDate(data['time'])">
                                          {{ data['time'] | date:'dd/MM/yyyy HH:mm' }}
                                        </span>


                                    </h5>
                                    <p class="mb-0">{{ data.message }}</p>
                                </div>
                            </div>
                        </div>
                    </li>}
                </ul>
            </ngx-simplebar>
            <div class="p-3 border-top">
                <div class="row">
                    <form (ngSubmit)="messageSave()" [formGroup]="formData" class="row">
                      <p class="text-truncate mb-0">Solo se permiten archivos con extensiones *.txt, *.pdf o *.docx </p>
                      <dropzone *ngIf="!enableChat" (success)="onFileDropped($event)" (drop)="onFileDropped($event)" style="height: 100px;" ></dropzone>
                        <div class="p-3 chat-input-section">
                            <div class="row">
                                <div class="col" *ngIf="enableChat">
                                    <div class="position-relative">
                                        <input formControlName="message" [ngClass]="{'is-invalid': chatSubmit && form.message.errors}" type="text" class="form-control chat-input rounded" placeholder="Preguntame lo que quieras" />
                                        @if(chatSubmit && form.message.errors){
                                        <div class="invalid-feedback">
                                            @if(form.message.errors.required){
                                            <span>This value is required.</span>}
                                        </div>}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light">
                                        <span class="d-none d-sm-inline-block me-2">Enviar</span>
                                        <i class="mdi mdi-send float-end"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end user chat -->
</div>
<!-- End d-lg-flex  -->
