<div class="row">
    <div class="col-xl-12 col-md-12">
        <!-- card -->

        <!-- -->
        <div class="card card-h-100">
            <!-- card body -->
             <!--
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Cantidad de Chats</span>
                        <h4 class="mb-3">
                            <span [countUp]="totalChats" [options]="option" class="counter-value"></span>
                        </h4>
                    </div>

                    <div class="col-6">
                        <apx-chart class="apex-charts" dir="ltr" [series]="walletlineChart.series" [chart]="walletlineChart.chart" [colors]="walletlineChart.colors" [stroke]="walletlineChart.stroke" [tooltip]="walletlineChart.tooltip">
                        </apx-chart>
                    </div>
                </div>
            </div>
          --><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row-->
<!-----------------  PRUBAAAAAAAAAA -->
<app-chat></app-chat>